* {
    margin: 0;
    padding: 0;
}
/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400;1,500&family=Poppins:wght@500;700&family=Work+Sans&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
}
/* header section style
    */
.header-container {
    max-width: 1920px;
    width: 100%;
    height: 1322px;
    background-color:rgba(255, 144, 14, 0.1);
    margin-bottom: 91px;}
    
.nav-container {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;}
    
.nav-menu {
     margin-top: 63px;
    margin-right: 150px;
    margin-bottom: 116px; 
    max-width: 477px;
    width: 100%;
    height: 26px;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    color: #424242;

    }
.nav-info {
    display: flex;
    gap: 50px;
    list-style-type: none;
}
.nav-title {
    margin-top: 50px;
    margin-left: 306px;
    margin-bottom: 102px;
    margin-right: 650px;
    font-weight: 500;
    font-size: 45px;
    width: 302px;
    height: 53px;
    color: #131313;

}
.banner-detail {
    width: 100%;
   max-width:  862px;
    height: 225px;
    color: #131313;
    margin-left: 607px;
    margin-right: 451px;
    
}
.banner-title {
    font-weight: 700;
    font-size: 64px;
    text-align: center;

}
.banner-para {
    width: 100%;
    max-width: 868px;
    height: 52px;
    text-align: center;
    color: #727272;
    margin-top: 30px;

}
.primary-btn {
    
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 32px;
    margin-bottom: 50px;
    margin-left: 948px;
    margin-right: 792px;
    background-color:#FF900E;
    border-radius: 8px;
}
.banner-pic {
    display: flex;
    justify-content: center;    
}
/* fecture section style */
.feature-container {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;
    margin-left: 140px;
       
}
.feature-pic {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px ;
    
}
 .feature-detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 537px;
    height: 304px;
    margin-top: 150px;
    margin-right: 297px;
    margin-bottom: 394px;
    margin-left: 77px; }


.feature-para {
    width: 537px;
    height: 78px;
    margin-left: 77px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.feature-title {
    width: 468px;
    height: 106px;
    margin-left: 80px;
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}
.second-btn {
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background-color:#FF900E;
  border-radius: 8px;
  margin-left: 77px;
}
.feature-yellow {
    color: #FF900E;
}
/* love section style */

.love-container {
    display: flex;
    justify-content:center;
    width: 100%;
    max-width: 1440px;
    height: 1059px;
    margin-left: 255px;
    margin-right: 220px;
    margin-bottom: 70px;

}
.love-heading {
    display: flex;

}
.love-box {
    width: 5px;
    height: 106px;
    background-color:   #FF900E;
}

    .love-box-title {width: 468px;
        height: 106px;font-weight: 700;
        font-size: 45px;color: #131313;
        margin-bottom: 24px;
        margin-right: 128px;
        margin-left: 30px;
    }
    .love-para {
        width: 100%;
        max-width: 586px;
        height: 78px;
        font-weight: 400;
        font-size: 16px;
        color: #727272;
    }
    .dekstop-items {
        idth: 586px;
        height: 171px;
        background-color: #FFFFFF;;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        padding: 30px;
        margin-top: 20px;
    }
    .love-title {
        width: 252px;
        height: 23px;
        ont-weight: 600;
        font-size: 20px;
        color: #131313;
        margin-bottom: 10px;

    }
.love-detail {
    width: 50%;
     }
.love-pic {
    
    border-radius: 8px;
    width: 818px;
    height: 1020px;
    margin-left: 34px;

}
.second-love-btn {
    width: 342px;
    height: 200px;
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    background-color: #FF900E;
    border-radius: 8px;
    padding: 40px;
    margin-top: -150px;
    margin-right: 476px  ;
}
.btn-expe {
    font-size: 25px;
}
/* facts section style*/

.facts {
    margin-left: 240px;
    margin-top: 100px;
}
.facts-title {
    width: 258px;
    height: 53px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 25px;
}
.facts-para {
    width: 542px;
    height: 52px;
    font-size: 16px;
    color: #727272;
    margin-bottom: 100px;

}
.facts-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 45px 40px;

}
.state-box :hover {
    transform: scale(.5);
}
.state-box {
    display: flex;
    justify-content: space-around;
    margin-left: 326px;
    margin-top: 100px;

}
/* sponsor section */

.sponsor-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    margin-bottom: 50px;
    flex-direction: column;
    
    height: 129px;
}
.sponsor-title {
    width: 327px;
    height: 53px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 25px;
}
.sponsor-para {
    width: 542px;
    height: 52px;
    color: #727272;
    font-size: 16px;
    text-align: center;
}
.sponsor-pic {
    display: flex;
    justify-content: center;
    
    gap: 150px;
    margin-bottom: 130px;
}
/* contract section */
.contract {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #727272;
    margin-bottom: 100px;}
    
    .contract :hover
    {
        background-color: rgba(182, 196, 196, 0.566);
    }
    
    

/* footer section style */
.footer {
    width: 1440px;
    height: 100px;
    background-color: #FFF4E7;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 220px;

}
.footer-para {
    width: 620px;
    height: 23px;
    font-size: 20px;
    color: #424242;
    padding: 40px 410px;

}


/* responsive style */
/* small devices */
@media only screen and (max-width:576px) {
    
        
    
    .nav-container,.nav-info {
            flex-direction: column;
            
        }
    .nav-title {
            margin-left: 70px;
        }
    .nav-menu {
        margin-bottom: 250px;
        margin-left: 100px;
    }
    .banner-title,.banner-para,.primary-btn {
        font-size: 20px;
        text-align: justify;
    
        
            }
    .banner-para {
                width: 300px;
                height: 200px;
                text-align: left;

        
            }
    .banner-detail,.primary-btn {
        margin-left: 70px;
     
}


    .banner-pic {
        width: 100%;
        flex-direction: column;
        padding: 10px;
    
}
.feature-container {
    margin-left: 20px;
    
    flex-direction: column;
    
}
.feature-pic {
    grid-template-columns: repeat(1,1fr);
}
.feature-detail {
    flex-direction: column;
    margin-left: 120px;

}
.feature-para {
    margin-right: 50px;
}
.facts-box {
    flex-direction: column;
}
.love-container {
    flex-direction: column;
    margin-left: 30px;
    margin-top: 250px;
    margin-bottom: 600px;
}
.love-box-title {
    margin-bottom: 110px;
}
.love-pic {
    max-width: 818px;
    width: 100%;
    
}
.facts {
    margin-top: 800px;
    margin-left: 80px;
}
.sponsor-pic {
    flex-direction: column;
    margin-right: 80px;
    margin-left: 60px;
    gap: 10px;
}
.state-box {
    flex-direction: column;
    margin-left: 80px;
}

}
